@{
    ViewData["Title"] = "Довідка";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p><b>SchoolLib</b>- це дипломний проект ступеня бакалавра двох студентів НТУУ "КПІ", Факультету прикладної математики, групи КП-32:</p>
<p>Валерії Дзізінської та Сергія Яхіна</p>
<p>Ця програма розповсюджується під безкоштновною ліцензією, та призначена для використання у шкільних бібліотеках України</p>
