@{
    ViewData["Title"] = "Контакти";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Київ<br />
    проспект Перемоги 37<br />
    корпус №15<br />
    поверх №4<br />
    <abbr title="Phone">P:</abbr>
    +380675287230
</address>

<address>
    <strong>Підтримка:</strong> <a href="mailto:neamiades@gmail.com">neamiades@gmail.com</a><br />
    <strong>Розповсюдження:</strong> <a href="mailto:rybachoknata@gmail.com">rybachoknata@gmail.com</a>
</address>
