@{
    ViewData["Title"] = "Домашня сторінка";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/BookWallpaper6.jpg" alt="SchoolLib" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Нові можливості керування Вашою бібліотекою з системою <b>SchoolLib</b>
                    <a class="btn btn-default" href="https://github.com/Neamiades/SchoolLib">
                        Переглянути сторінку додатку
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="https://pp.userapi.com/c623921/v623921461/2ab4/Lyfchp0CxRg.jpg" alt="Валерія Дзізінська" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Творець модулю системи "Каталогізація фонду" <b>Валерія Дзізінська</b>
                    <a class="btn btn-default" href="https://plus.google.com/u/0/115368621597798251243">
                        Відвідати сторінку Google+
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="https://pp.userapi.com/c624819/v624819676/84b/0saHCn-RIPk.jpg" alt="Яхін Сергій" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Творець модулю системи "Обіг книжок" <b>Яхін Сергій</b>
                    <a class="btn btn-default" href="https://plus.google.com/u/0/116695675852971348246">
                        Відвідати сторінку Google+
                    </a>
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Назад</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Далі</span>
    </a>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Застосування програми</h2>
        <ul>
            <li>Адміністрування</li>
            <li>Каталогізація фонду</li>
            <li>Обіг книжок</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Інструкції як</h2>
        <ul>
            <li>Додати нового користувача</li>
            <li>Додати нового читача</li>
            <li>Додати нову книгу</li>
            <li>Видати книжку</li>
            <li>Прийняти книжку</li>
            <li>Видалити читача</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Огляд можливостей програми</h2>
        <ul>
            <li>Нові можливості в автоматизації бібліотек</li>
            <li>Переваги над конкурентами</li>
            <li>Думки про майбутнє</li>
        </ul>
    </div>
</div>
