@model SchoolLib.Models.People.Student

@{
    ViewData["Title"] = "Edit";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>@Html.DisplayNameFor(model => model)</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="IdNum" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="IdNum" class="form-control" />
                <span asp-validation-for="IdNum" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="FirstName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SurName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="SurName" class="form-control" />
                <span asp-validation-for="SurName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Patronimic" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Patronimic" class="form-control" />
                <span asp-validation-for="Patronimic" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Street" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Street" class="form-control" />
                <span asp-validation-for="Street" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="House" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="House" class="form-control" />
                <span asp-validation-for="House" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Apartment" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Apartment" class="form-control" />
                <span asp-validation-for="Apartment" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Grade" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Grade" class="form-control" />
                <span asp-validation-for="Grade" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="LastRegistrationDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="LastRegistrationDate" class="form-control" />
                <span asp-validation-for="LastRegistrationDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="FirstRegistrationDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="FirstRegistrationDate" class="form-control" />
                <span asp-validation-for="FirstRegistrationDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Status" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Note" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Note" class="form-control" />
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
