@model SchoolLib.Models.Books.Inventory

@{
    ViewData["Title"] = "Редагування";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>@Html.DisplayNameFor(model => model)</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <input type="hidden" name="curBookId" value="@Model.BookId" />
        <div class="form-group">
            <label asp-for="BookId" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <input asp-for="BookId" class="form-control" />
                <span asp-validation-for="BookId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ActNumber" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ActNumber" class="form-control" />
                <span asp-validation-for="ActNumber" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Year" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Couse" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Couse" class="form-control" />
                <span asp-validation-for="Couse" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Note" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Note" class="form-control" />
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Зберегти" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Назад до списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
