@{
    ViewData["Title"] = "Записи про вибуття";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create">Додати запис про вибуття</a>
</p>
<hr />
<div class="form-horizontal row">
    <div class="col-md-3">
        <div class="form-group">
            <div class="col-md-12">
                <input type="number" name="readerId" id="readerId" placeholder="Ідентифікаційний №..." class="form-control" />
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <div class="col-md-12">
                <input type="text" name="date" id="date" placeholder="Дата прийняття..." class="form-control" />
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <div class="col-md-12">
                <input type="text" name="couse" id="couse" placeholder="Місце походження..." class="form-control" />
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <div class="col-md-12">
                <input type="text" name="note" id="note" placeholder="Примітка..." class="form-control" />
            </div>
        </div>
    </div>
</div>
<div class="form-group col-md-offset-5 col-md-7">
    <input type="submit" id="submit" name="search" value="Пошук" class="btn btn-default" />
</div>

<div id="results"></div>

@section Scripts {
    <script type="text/javascript">
            $(document).ready(function () {
                $('#submit').click(function (e) {
                    e.preventDefault();
                    var readerId = encodeURIComponent($('#readerId').val());
                    var date = encodeURIComponent($('#date').val());
                    var couse = encodeURIComponent($('#couse').val());
                    var note = encodeURIComponent(     $('#note').val());

                    $('#results').load('@Url.Action("Search")?readerId=' + readerId + '&date=' + date +
                        '&couse=' + couse + '&note=' + note);
                });
            });
    </script>
}
